
nav{
    float: right;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-color: #777777;
    padding: 40px;
}

body{
    background: url(../images/memphis-mini.png);
    padding-top: 30px;
}

.header-container{
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 30px;
    padding-bottom: 40px;
    border-bottom: 1px #666666 solid;
}

.header-content{
    /* background-color: green; */
    width: 960px;
    margin: 0 auto;

}

.header-container-name{
    float: left;
    background-color: teal;
    padding: 0px 20px 0px;
    overflow: hidden;  
}

.anchors-box{
    padding-top: 30px;
    border: red solid;
    margin: 0;
    height: 30px;
}

section{
    clear: both;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: justify;
    background-position: fixed;
    height: auto;
}

.title{
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.line{
    color: #dddddd;
    margin: 30px 0px;
}

a{
    margin-right: 20px;
    color: #777777;
    text-decoration: none;
    float: right;
}

.about-image{
    width: 250px;
    height: 225px;
    text-align: match-parent;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.content{
    background-color: white;
    width: 960px;
    margin: 100px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 20px;
    position: static;
    overflow: auto;
}

#description{
    color: #777777;
}

.footer{
    background-color: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #dddddd;
    font-size: 15px;
    border: 10px solid #777777;
    border-top-color: teal;
}

.copyright{
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}